@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

body {
  @apply bg-gradient-to-b from-[#183D3D] to-[#02475E];
  /* @apply bg-[#010101]; */
}

.custom-mask {
  -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
.shadow-inset {
  background: radial-gradient(
    circle at 60% center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.7) 150%
  );
}
